.Title h1 {
  font-size: 30px;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: center;
  color: #5AC3E8; }

table {
  width: 50%;
  margin: auto;
  color: #B82934;
  border: 2px solid #B82934; }
  table h2 {
    text-decoration: underline; }

table, td, th {
  text-align: center;
  border-collapse: collapse;
  padding: 5px; }

td {
  border-right: 2px dotted grey;
  border-left: 2px dotted grey;
  font-size: 17px; }

table tr:nth-child(odd) {
  background-color: white; }

table tr:nth-child(even) {
  background-color: #caecf8; }

.adminfield {
  margin-bottom: 50px; }
  .adminfield input {
    display: block;
    margin: auto;
    margin-top: 10px; }
  .adminfield .ng-invalid.ng-dirty {
    color: black;
    background: red; }
