<!DOCTYPE html>
<html ng-app="inventoryAPP">
 <head>
   <script src="node_modules/angular/angular.js"></script>
   <link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="inventoryTb as controller">
<div class="container-fluid">
<div class="Title"><h1>Shopular:Your Destination for Everything!</h1></div>

<form class="adminfield" ng-valid ng-submit="controller.submitForm()">
    <input type="text" name="name" placeholder="Item Name" ng-model="controller.form.name" required>
 
    <input type="number" name="quantity" placeholder="Quantity" ng-model="controller.form.quantity" required>
  
    <input type="text" name="color" placeholder="Color" ng-model="controller.form.color" required>
 
    <input type="number" name="price" placeholder="Price" ng-model="controller.form.price" required>
 
    <input type="number" name="discount" placeholder="Discount Amount" ng-model="controller.form.discount" required>

    <input type="submit" name="submit" ngclick>
  </form>


<table>
  <tr class="header">
  	<td><h2>Name</h2></td>
  	<td><h2>Quantity</h2></td>
  	<td><h2>Color</h2></td>
  	<td><h2>Price (with tax)</h2></td>
  	<td><h2>Sale</h2></td>
  </tr>
  <tr ng-repeat="item in controller.inventory | orderBy : 'quantity' track by $index">
    <td>{{ item.name }}</td>
    <td><input type="number" placeholder="{{ item.quantity }}" ng-model="$parent[$index]" ng-change="controller.updateQ(item, $event)"></td>
    <td>{{ item.color }}</td>
    <td>{{ (item.price-item.discount)*controller.tax + (item.price-item.discount)*item.quantity | currency : $ : 2 }}</td>
    <td><span ng-show="controller.isDiscounted(item.discount)"><img class="sale" src="images/sale.png"></span></td>
  </tr>
</table>
</div>
<script src="main.js"></script>
</body>
</html>